

.homePage {

    ion-header {

        ion-img {

            border-bottom: 3px solid rgb(236, 149, 35);
        }
    }

    ion-footer {

        background-color: #1A8A8A;
        color: white;
    }
}

.getStarted {

    height: 100%;
    background-color: #ffffff;
    background-image: radial-gradient(#b8b8b8 1px, transparent 1px),
    radial-gradient(#b8b8b8 1px, #ffffff 1px);
    background-size: 40px 40px;
    background-position: 0 0, 20px 20px;

     ion-card-title {

        color: black !important;
        letter-spacing: -0.08rem;
        font-weight: 900 !important;
     }
}

.heading {

    margin-top: 7rem;
}

.getStartedButton {

    font-size: 1.2rem;
    margin-top: 1rem;
}
.emergency-stop-active {
    background-color: red; /* Couleur de fond rouge lorsque le bouton est activé */
    color: white; /* Couleur du texte blanche lorsque le bouton est activé */
}

.emergency-stop-inactive {
    background-color: transparent; /* Couleur de fond transparente lorsque le bouton est désactivé */
    color: black; /* Couleur du texte noire lorsque le bouton est désactivé */
}
.notificationCard {
    max-height: 200px; /* Hauteur maximale de la carte */
    overflow-y: auto; /* Activation du défilement vertical si nécessaire */
}

.notificationList {
    list-style-type: none; /* Suppression de la puce de la liste */
    padding: 0; /* Suppression du remplissage de la liste */
}
.map-card {
    /* Vos styles CSS pour la carte */
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    /* Autres styles personnalisés */
}

.map-card h2 {
    color: #333; /* Couleur du texte */
    font-size: 24px; /* Taille de la police */
    margin-bottom: 10px; /* Marge en bas */
}

.map-card p {
    color: #666; /* Couleur du texte */
    font-size: 16px; /* Taille de la police */
    line-height: 1.5; /* Hauteur de ligne */
}
